* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.container {
  background-color: #969292;

  max-width: 750px;
  margin: 5rem auto;
  border: 8px solid #ddd;
  position: relative;
}
.header-content {
  position: absolute;
  background-color: #ece09b;
  max-width: 175px;
  border-radius: 6px;
  top: 60px;
  left: 150px;
  padding: 0.5rem 1rem;
  z-index: 1;
  font-weight: 900;
}
.img-container {
  width: 400px;
  background-color: #fff;
  position: relative;
  margin: 3rem auto;
  border-radius: 8px;
}
.img-container img {
  width: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.text-content {
  padding: 1.3rem;
  font-family: serif;
  line-height: 1.3;
}
.text-content h2 span {
  color: #524f4f;
  font-size: 0.988rem;
}
.text-content p {
  color: #353434;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  .header-content {
    top: 60px;
    left: 70px;
  }
}

@media (max-width: 500px) {
  .header-content {
    top: 60px;
    left: 3px;
  }
}
